<!DOCTYPE html>
<html>
<head>
	<title>Passport with Sequelize</title>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.bundle.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>
<h2>Dashboard</h2>

<form id="dashboard" name="test">
  <label for="entry">Spy On</label>
  <input class="text" name="entry" type="text" />

	<input class="btn" type="submit" value="Submit" />
</form>

<script>
	var xhttp = new XMLHttpRequest();

	$('#dashboard').click(function (ev) {
		ev.preventDefault();

		var spyonuser = $('#dashboard input[type="text"]').val();

		/* Put this into an event handler */
		/* and emit an event here instead. */
		xhttp.open('PUT', 'spyon/?user=' + spyonuser, true);
		xhttp.setRequestHeader('Content-type', 'application/x-www-form-urlencoded');
		xhttp.send();
		/* -- -- -- */
	});
</script>


<canvas id="myChart" width="200" height="200"></canvas>

<script>
  var spyingOn = "{{spyingOn}}";
  if (spyingOn) {
		console.log("show spyingOn graph");
		var ctx = document.getElementById("myChart").getContext('2d');
		var myLineChart = new Chart(ctx, {
		    type: 'line',
				data: [{
		        x: 10,
		        y: 20
		    }, {
		        x: 15,
		        y: 10
		    }],
				options: {
		        scales: {
		            yAxes: [{
		                stacked: true
		            }]
		        }
		    }
		});
	}
</script>

</body>
</html>
